  /*FOR NAVBAR  */
  /* Add a black background color to the top navigation */
/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  /* Main content */
  .main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
  }
  
  
/* FOR SAMPLEDESIGNDIAMOND  */
body {
    background-color: #000;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container {
    width: 300px;
    height: 300px;
    background: linear-gradient(to right,#04d8c7,#09a494);
    border-radius: 16px;
    transform: rotate(45deg);
    display: flex;
    overflow: hidden;
  }

  .container span {
    display: block;
    width: 10px;
    height: 400px;
    background-color: #000;
  }

span:nth-child(1) {
    transform: rotate(-83deg) translate(-40px,130px);
}
span:nth-child(2) {
    transform: rotate(-120deg) translate(-80px,120px);
}
span:nth-child(3) {
    transform: rotate(20deg) translate(80px,-100px);
}
span:nth-child(4) {
    transform: rotate(-15deg) translate(40px,-0px);
}
span:nth-child(5) {
    transform: rotate(70deg) translate(-100px,-120px);
}
span:nth-child(6) {
    transform: rotate(-35deg) translate(175px,0px);
}

/* Circle shapes */

span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: #000;
}

span:nth-child(1)::before {
    width: 40px;
    height: 40px;
    transform: translate(-15px,142px);
}
span:nth-child(2)::before,
span:nth-child(3)::before,
span:nth-child(4)::before {
    width: 35px;
    height: 35px;
}
span:nth-child(2)::before {
    transform: translate(145px,145px);
}
span:nth-child(3)::before {
    transform: translate(96px,170px);
}
span:nth-child(4)::before {
    transform: translate(111px,72px);
}
